
.btn-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  border-radius: 50%;
  border: none;
  line-height: 1.3px;
}

.bi {
  font-size: 20px;
  color: white;
}

.enabled-style {
  background-color: #008cff;
}


.disabled-style {
  background-color: #ff3030;
}

.irc-message {
  background-color: #28a745; /* Vert pour différencier les messages IRC */
  color: white;
}

.message {
  margin-bottom: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  background-color: #e9ecef;
  display: inline-block;
  max-width: 80%;
  word-wrap: break-word; /* Pour que les messages longs se coupent */
}

.message.sender {
  background-color: #007bff;
  color: white;
  margin-left: auto;
  text-align: right;
}

.message.receiver {
  background-color: #f1f1f1;
  color: black;
  margin-right: auto;
  text-align: left;
}

